body { background:#ddd; margin:0; padding:0; }
h2,h3,h4,h5,h6 { margin:0; padding:5px 0 5px 0; }
ul, li { margin-top:3px; padding-top:0; }
a { color:#0000aa; }
a:hover { text-decoration:none; }
    
.Container { width:1000px; margin:0 auto; padding:3px 20px 0 20px; background:#fff; }

.Left { float:left; width:715px; }

.Nav { font:14px Arial, Helvetica, sans-serif,Times,Georgia; color:#000033; padding:10px 0 3px 0; }
.Nav a { padding:3px 5px 3px 5px; text-decoration:none; font-weight:bold; }
.Nav a { color:rgb(100,160,55); background-color:rgb(255,245,130); }
.Nav a:hover { color:rgb(100,160,55); background-color:rgb(255,225,100); }
.Nav .ActiveTab, .Nav .ActiveTab:hover { cursor:default; color:rgb(255,225,100); background-color:rgb(90,175,50); }
.Nav .XML, .Nav .XML:hover { background:url(rss.png) no-repeat center; position:absolute; width:32px; height:32px; margin:-10px 0 0 675px; }

.Content { border-top:5px solid rgb(90,175,50); padding-top:3px; font-family:Colaborate-RegularRegular, 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;  }

.Home { color:#1c1c1c; line-height:1.4em; }
.Home h1 { font-size:21px; margin:15px 0 3px 0; }
.Home .BlogBrief { list-style:none; padding:0; font:16px Arial,sans-serif; }
.Home .BlogBrief li { padding:2px 2px 2px 15px; }
.Home .BlogBrief .Date { color:rgb(150,150,150); padding-right:15px; }
.Home .BlogBrief a { color:rgb(0,80,150); }

.Home .ProjectsBrief {  }
.Home .ProjectsBrief a { color:rgb(70,0,0);  }
.Home .ProjectsBrief .Project { padding-bottom:2px; }
.Home .ProjectsBrief .Project a { text-decoration:none; color:#666; } 
.Home .ProjectsBrief .Project a span { font-weight:bold; color:rgb(170,40,0); }
.Home .ProjectsBrief .Project a:hover span { background:rgb(255,255,255); color:rgb(40,120,0); text-decoration:underline; }

.List .Post { margin:0px; }
.List .Post .Date { margin:0; }
.List .Post .Title a { text-decoration:none; color:#111; }
.List .Post .Title a:hover { text-decoration:underline; }
.List .PostContent { border-top:2px solid #ddd; margin-top:3px; }

.Post .Title, .Page .Title { padding:0 0 0 60px; margin:10px 0 0 0; font-size:24px; color:#111; }
.Post h2 { font-size:18px; }
.Post .Date { position:absolute; width:35px; background:#E6E5DA; color:#4c4c4c; padding:5px 10px; margin:10px 0 0 0; font-size:20px; font-weight:bold; text-align:center;  }
.Post .Date .Day { font-size:10px; text-transform:uppercase; }
.Post .Tags { color:#333; padding:0 0 5px 60px; font:11px Arial,sans-serif; }
.Post .Tags a { color:rgb(160,130,100); }
.Post code { display:block; background:#ddd; margin:5px; padding:10px; white-space:pre; color:#111; font:12px 'Courier New',Courier,Sans,Arial; }
.Post img, .Page img { margin:0 5px 5px 0; }
.PostContent, .PageContent { padding:3px; color:#1c1c1c; font:14px Arial,helvetica,sans-serif; line-height:1.4em; }
.PostContent a, .PageContent a { color:rgb(0,80,150); }
.PostContent a:hover, .PageContent a:hover { color:#CC3B1F }
.PostContent h1, .PageContent h1 { font-size:21px; }
.PostContent h2, .PageContent h2 { font-size:16px; }
.PostContent h3, .PageContent h3 { font-size:14px; }

.Projects .Project { font-size:12px; padding:5px; margin:10px 5px 0 5px; border-bottom:2px solid #eee; }
.Projects .Project h1 { font-size:16px; margin:3px; }
.Projects .Project h1 a { text-decoration:none; color:rgb(170,30,0); }
.Projects .Project h1 a:hover { text-decoration:underline; }
.Projects .Project .Summary { font-size:14px; } 
.Projects .Project div { padding:2px 10px; } 
.Projects .Project span { font-weight:bold; padding-right:3px; color:rgb(70,120,20); }

.Page .Title { padding:0; }
.Page img { float:left; }

.Right { float:right; width:270px; padding:400px 0 0 0; text-align:right;  background:#fff url(header.jpg) no-repeat center 0; }
.Right h1, .Footer h1 { font:14px 'Arial Black',Arial; letter-spacing:-1px; margin-bottom:3px }
.Right h1 span, .Footer h1 span { background:rgb(227,12,12); color:rgb(255,216,0); padding:3px; }
.Right h1 .Green, .Footer h1 .Green { color:rgb(33,175,0); background:rgb(255,255,0); padding:3px; }
.Right a { background:#e5e5e5; color:#777; font:10px Verdana; padding:3px; text-decoration:none; line-height:22px; }
.Right a:hover { background:#f2f2f2 left top; color:#999; }
.Right .IMG { display:block; float:right; width:65px; height:65px; border:4px solid #ddd; background:url() no-repeat center; padding:0; margin:3px 3px 0px 3px; }

.TagCloud { padding:3px; }
.TagCloud a { margin:0; padding:0 1px 0 1px; background:transparent; color:#666; }
.TagCloud a:hover { background:transparent; text-decoration:underline; color:#333; }
    
.Footer { font:12px Arial,'sans-serif'; padding:30px 0 30px 0; }
.Footer a { display:block; color:rgb(120,100,100); padding:0px 0 1px 2px; }
.Footer h1 { margin-top:0; }

.Contact { float:left; width:200px;  padding:0px 0 0 0; color:#666; }
.Contact h1 { text-align:left; margin-bottom:10px; }
.Contact a { color:rgb(120,120,100); display:inline; }
.Social { float:left; width:200px; }
.Links { float:left; width:120px; padding:22px 0 0 5px; }
.Links a { color:rgb(100,120,100); }

.Banners { float:right; width:350px; padding:50px 0 0 5px; text-align:center; }
.Banners a { display:inline; float:left; }

.Clean { clear:both; }
